@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define Futura PT */
@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaPTBold.woff2") format("woff2"),
       url("/fonts/FuturaPTBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaPTBook.woff2") format("woff2"),
       url("/fonts/FuturaPTBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Futura PT", Arial, Helvetica, sans-serif;
}
